body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ABN {
    margin-bottom: 20px;
}

.ABN label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.ABN input[type="text"],
.ABN input[type="email"],
.ABN input[type="tel"],
.ABN input[type="date"],
.ABN input[type="time"],
.ABN input[type="number"],
.ABN textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ABN textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #c82333;
}
footer {
    background-color: #333;
    color: #e60808;
    padding: 20px 0;
    text-align: center;}
